<h2 style="text-align: center;"> Repos </h2>

<form (ngSubmit)="onSubmit()">
    <div class="p-formgroup-inline" style="text-align: center; margin: 15px 0 15px 0;">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="search" class="form-control" pInputText placeholder="Search Repository"
                [formControl]="searchControl" [value]="searchName">
        </span>
        <button type="submit" pButton label="Submit"></button>
    </div>
</form>

<p-table [value]="repositoryList" [rows]="10" [scrollable]="true" scrollHeight="73vh" [loading]="loading"
    [paginator]="true" [rowHover]="true" selectionMode="single" dataKey="id">
    <ng-template pTemplate="header">
        <tr>
            <th>Avatar</th>
            <th>Name</th>
            <th>Score</th>
            <th>Language</th>
            <th>Created At</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-repo>
        <tr [pSelectableRow]="repo" (dblclick)="rowDblClick(repo)" >
            <td><img [src]="repo.owner.avatar_url" [alt]="repo.owner.login" width="30"
                    class="p-shadow-10 owner_avatar" /></td>
            <td>{{repo.name}}</td>
            <td>{{repo.score}}</td>
            <td>{{repo.language}}</td>
            <td>{{repo.created_at | date}}</td>
        </tr>
    </ng-template>
</p-table>

<p *ngIf="error">{{ error }}</p>